.banner{
    background: url("../img/banner.jpg") no-repeat center / cover;
    height: 100vh;
    position: relative;
    width: 100%;
}

.banner_texto{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 5.5rem;
}

.banner_texto_titulo{
    font-weight: 900;
}

.banner_texto_subtitulo{
    font-weight: 550;
}