.informacao{
    display: flex;
    margin: 5rem 15rem;
}

.informacao_conteudo{
    display: flex;
    flex-direction: column;
    margin-right: 25rem;
    margin-top: 4rem;
    
}

.informacao_conteudo_linha{
    margin: 1rem 0;
    border: 2px solid #F4DB94;
    max-width: 15rem;
}

.informacao_conteudo_paragrafo{
    line-height: 1.5rem;
}

.informacao_imagem{
    max-width: 30rem;
}