.menu{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.menu_img{
    max-width: 10rem;
}

.menu_lista{
    display: flex;
}

.menu_lista_link{
    color: #6D68AD;
    font-weight: bold;
    margin-left: 2rem;
    text-decoration: none;
    
}